*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-size: 15px;
  line-height: 1.4em;
  background-color: #fefefe;
  font-family: "Inter", sans-serif;
  padding: 15px;
}
.user{
  &__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    margin: 0 auto;
    max-width: 800px;
    .card{
      width: 100%;
    }
  }

}

.info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto 10px;
  .lead{
    margin-right: 15px;
  }
}
.sub__list{
  margin-left: 10px;
}

.post__btn{
  text-transform: capitalize;
  margin: 0 auto 30px;
  max-width: 90%;
  display: inline-block;
}
.posts{
  max-width: 90%;
  margin: 0 auto;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  text-align: center;
  text-transform: capitalize;
  gap: 1rem;
  ul,li{
    list-style: none;
  }
  .card{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;flex-direction: column;
  }
  .card-body{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .h4{
    font-size: 1rem;
    margin-bottom: auto;
  }
  .btn{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
  }
}


.post{
  max-width: 90%;
  margin: 0 auto;
  .title{
    text-transform: uppercase;
  }
  .content{
    margin-bottom: 30px;
  }
}

.comments{
  max-width: 90%;
  margin: 50px auto 0;
  &__list{
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
  }
}
.posts__btn-container{
  max-width: 90%;
  margin: 0 auto;
}


@media  (screen and max-width: 1000px) {
  .posts{
    grid-template-columns: repeat(3, 1fr);
  }
  .comments__list{
    grid-template-columns: repeat(3,1fr);
  }
}
@media  (screen and max-width: 768px) {
  .comments__list{
    grid-template-columns: repeat(2,1fr);
  }
}
@media  (screen and max-width: 500px) {
  .user__list{
    grid-template-columns: 1fr;
  }
  .posts{
    grid-template-columns: repeat(2, 1fr);
  }
  .comments__list{
    grid-template-columns: repeat(1,1fr);
  }
}